@model IEnumerable<mvctk.Models.course>

@*@{
        Layout = null;
    }*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Schedule</title>
</head>
<body>
    <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassRoom)
            </th>
            <th></th>
        </tr>ml

        @foreach (var item in Model)
        {
            @Html.HiddenFor(modelitem => item.ID)
            <tr>
                <td>
                    <a href="/Lecturer/StudentsTable?courseID=@item.ID">@item.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Day)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassRoom)
                </td>
            </tr>
        }

    </table>
</body>
</html>
