@model mvctk.Models.course
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCourse</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div>
        @using (Html.BeginForm("Submit", "Admin", FormMethod.Post))
        {
        <table>
            <tr>
                <td> ID: </td>
                <td>@Html.TextBoxFor(m => m.ID) @Html.ValidationMessageFor(model => model.ID)</td>
            </tr>
            <tr>
                <td> Name: </td>
                <td>@Html.TextBoxFor(m => m.Name) @Html.ValidationMessageFor(model => model.Name)</td>
            </tr>
            <tr>
                <td> Points: </td>
                <td>@Html.TextBoxFor(m => m.Points)@Html.ValidationMessageFor(model => model.Points)</td>
            </tr>
            <tr>
                <td> ExamA: </td>
                <td>@Html.TextBoxFor(m => m.ExamA) @Html.ValidationMessageFor(model => model.ExamA)</td>
            </tr>
            <tr>
                <td> ExamB: </td>
                <td>@Html.TextBoxFor(m => m.ExamB) @Html.ValidationMessageFor(model => model.ExamB)</td>
            </tr>
            <tr>
                <td> Lecturer ID: </td>
                <td>@Html.TextBoxFor(m => m.LecturerID) @Html.ValidationMessageFor(model => model.LecturerID)</td>
            </tr>
            <tr>
                <td> Time: </td>
                <td>@Html.TextBoxFor(m => m.Time) @Html.ValidationMessageFor(model => model.Time)</td>
            </tr>
            <tr>
                <td> Day: </td>
                <td>@Html.TextBoxFor(m => m.Day)@Html.ValidationMessageFor(model => model.Day) </td>
            </tr>
            <tr>
                <td> Class Room: </td>
                <td>@Html.TextBoxFor(m => m.ClassRoom) @Html.ValidationMessageFor(model => model.ClassRoom)</td>
            </tr>
            <tr>
                <td> <input id="Submit" type="submit" value="Add Course" /></td>
            </tr>
        </table>
            
        }
    </div>
</body>
</html>
