@model mvctk.Models.course


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCourse</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div>
        @using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
        {
            <table>
                @Html.HiddenFor(m => m.ID)
                @Html.HiddenFor(m => m.Name)
                @Html.HiddenFor(m => m.LecturerID)
                @Html.HiddenFor(m => m.ClassRoom)
                @Html.HiddenFor(m => m.Points)
                @Html.HiddenFor(m => m.ExamA)
                @Html.HiddenFor(m => m.ExamB)

                <tr>
                    <td> Time: </td>
                    <td>@Html.TextBoxFor(m => m.Time) @Html.ValidationMessageFor(model => model.Time)</td>
                </tr>
                <tr>
                    <td> Day: </td>
                    <td>@Html.TextBoxFor(m => m.Day) @Html.ValidationMessageFor(model => model.Day) </td>
                </tr>

                <tr>
                    <td> <input id="Submit" type="submit" value="Edit Course" /></td>
                </tr>
            </table>
            <br />
            <br />
            @Html.ValidationMessageFor(model => model.Time)
            <br />
            <br />
        }
    </div>
</body>
</html>
